{{- block "footer" . }}
<footer class="container-fluid text-center pt-3">
    <div class="row justify-content-center">
        <div class="col">
            <ul class="list-unstyled list-inline">
                <a href="https://twitter.com/tenementjazz"><span class="fab fa-twitter fa-3x px-2"></span></a>
                <a href="https://en-gb.facebook.com/tenementjazzband/"><span class="fab fa-facebook fa-3x px-2"></span></a>
                <a href="https://tenementjazzband.bandcamp.com/releases"><span class="fab fa-bandcamp fa-3x px-2"></span></a>
                <a href="https://www.instagram.com/tenementjazzband/"><span class="fab fa-instagram fa-3x px-2"></span></a>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Copyright &copy; {{ .Site.Copyright }} {{ now.Format "2006" }}</p>
            <p>Icons from <a href="https://fontawesome.com/license">FontAwesome</a></p>
            {{ with .GitInfo }}<p class="text-monospace small"><a href="https://github.com/TheBiggerGuy/com.thebiggerguy.www/commit/{{ .Hash }}">{{ .Hash }}</a></p>{{ end }}
        </div>
    </div>
</footer>
{{- end }}
