{{- block "header" . }}
<header class="container-fluid md-4">
    <div class="col-12">
        <div class="row">
            <picture class="mx-auto">
                <img src="top_banner_trans.png" class="img-fluid" alt="Header - band logo">
            </picture>
        </div>
        <div class="row">
            {{ if .Title}}{{ if not .Params.hideTitle }}<h1>{{ .Title }}</h1>{{ end }}{{ end }}
            {{ if .Description }}{{ if not .Params.hideDescription }}<h2>{{ .Description }}</h2>{{ end }}{{ end }}
        </div>
    </div>
</header>
{{- end }}
