{{- block "header" . }}
<header class="container-fluid mb-4">
    <div class="col-12">
        <div class="row">
            <picture class="mx-auto">
                <img src="{{ "/top_banner.png" | absURL }}" class="img-fluid" alt="Header image of the band">
            </picture>
        </div>

        <div class="row">
            <ul class="nav nav-pills mx-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        {{ errorf "Child menus are currently not supported: %s" .Path }}
                    {{ end }}
                    <li class="nav-item">
                        <a href="{{ .URL }}" class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</header>
{{- end }}
