@import "../../../bootstrap/scss/functions";
@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/mixins";

.embeded-bootcamp-iframe {
    display: none;
    border: 0;
    width: 500px;
    height: 470px;
}

@include media-breakpoint-up(sm) {
  .embeded-bootcamp-iframe {
    display: block;
  }
}

.embeded-bootcamp-iframe-alt {
    display: block;
}
@include media-breakpoint-up(sm) {
  .embeded-bootcamp-iframe-alt {
    display: none;
  }
}
